<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title *ngIf="details" mod="ios">
      <span class="text-center"> {{details.userName}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="allMessages.length" class="my-3 msg-list px-2">
    <div *ngFor="let msg of allMessages" class="mb-2">
      <div *ngIf="msg.message.senderId==userId"  style="
      margin-left: auto; text-align: right;">
        <span>{{msg.message.msg}}</span>
      </div>
      <div *ngIf="msg.message.senderId == details.id" >
        <span>{{msg.message.msg}}</span>
      </div>
    </div>
  </div>
  <div *ngIf="!allMessages.length" class="no-data">
    No message
  </div>
</ion-content>
<ion-footer>
  <form [formGroup]="addMessageForm">
    <ion-input placeholder="Ener Message" formControlName="message" (keyup.enter)="sendMessage(addMessageForm.value)">
    </ion-input>
    <ion-icon name="send-outline" (click)="sendMessage(addMessageForm.value)"></ion-icon>
  </form>
</ion-footer>